<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Login Satu Harapan</title>
<link href="{$tplpath}css/template_cssl.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$tplpath}css/systeml.css" type="text/css" />
<link href="{$tplpath}css/warning.css" rel="stylesheet" type="text/css" />

</head>
<body onload="javascript:setFocus()" id="login" class="blue">
<div id="login-wrapper">
  <div id="login-top">
    <div id="logo"> <img src="https://www.satuharapan.com/fileadmin/templates/new/images/logo2018.png" /> </div>
  </div>
  <div id="login-content">
    <form action="" method="post" name="login" id="form-login" style="clear: both;">
      <p id="form-login-username">
        <label for="modlgn_username">Username</label>
        <input name="username" id="modlgn_username" type="text" class="inputbox" size="15" />
      </p>
      <p id="form-login-password">
        <label for="modlgn_passwd">Password</label>
        <input name="password" id="modlgn_passwd" type="password" class="inputbox" size="15" />
      </p>
      <p>
        <label for="modlgn_passwd">&nbsp;</label>
        <input type="submit" name="submit" value="Submit" style="display:block;float: left;width:100px;margin-left: 16px;">
      </p>
      
      <div class="clr"></div>
     
    </form>
    {if isset($message)}
    <div class="notification information">
      <div class="warning"> 
        {$message}
      </div>
    </div>
    {/if}
   
    <div class="clear"></div>
  </div>
</div>
<noscript>
    Warning! JavaScript must be enabled for proper operation of the Administrator back-end.
</noscript>
<div class="clr"></div>
</div>
</div>
</div>
</body>
</html>
