* { margin: 0; padding: 0; }
body{ font-family: arial, times new roman; font-size: 12px; color: #000; }

div.clear { clear:both; font-size:1px; }
img { border:none; }
a, a:link, a:hover, a:visited { text-decoration:none; outline:none; color:blue; }

/* Post */
.pagination a,.nav-collapse.collapse .pull-right a{
    color: #666;
}
table .btn-group .btn{
    color: #fff;
}
.table tbody tr:nth-child(2n) td{
    background: #f5f5f5;
}