{literal}
<script>
    $(function() {
        $( ".datePicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy"
        });    
    });
    
</script>
{/literal}


    
    <div class="page-header"><h4>Pages</h4></div>
    
    <form class="form-inline" method="get" action="" id="form-search"  style="display: none;">
        <input type="text" value="{if isset($smarty.get.title)}{$smarty.get.title}{/if}" placeholder="Header" name="header">
        <input type="text" value="{if isset($smarty.get.rang_date_1)}{$smarty.get.rang_date_1}{/if}" placeholder="Created start" class="datePicker" name="rang_date_1">
        <input type="text" value="{if isset($smarty.get.rang_date_2)}{$smarty.get.rang_date_2}{/if}" placeholder="Created end" class="datePicker" name="date_rang2">
        <button type="submit" class="btn btn-success">Search</button>        
        <a href="{$baseUrl}/content/index/pagesnew" class="btn btn-primary">New</a>
    </form>      	
    
    <form action="" method="post" id="form-users">
    <table class="table table-bordered">
      <thead>
        <tr>
          
          <th>Header</th>
          <th>Created</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {if $numrows lt 1}
      <tr><td colspan="7"><div class="alert">Data Not Found</div></td></tr>
      {/if}
       {foreach from=$rows item=row}
        <tr class="{$row.uid}">
          
          <td>{$row.header}</td>   
             
          <td>{$row.crdate|date_format:"%d-%m-%Y %H:%M"}</td>
          <td>{if $row.hidden eq 0}<span class="label label-success">Publish</span>{else}<span class="label label-important">Unpublish</span>{/if}</td>
          <td><a href="{$baseUrl}/content/index/edit/uid/{$row.uid}" class="btn btn-warning">edit</a></td>
        </tr>
       {/foreach}
      </tbody>
    </table>
    </form>
  
 
{literal}
<script type="text/javascript">
$(document).ready(function() {     
    var  baseUrl = "{/literal}{$baseUrl}{literal}/";
    $('.checkall').click(function () {
	   $(this).parents('table:eq(0)').find(':checkbox').attr('checked', this.checked);
	});
    
    
    $("#remove-all").click(function() { //begin
      
                 var checkeditems = $('input:checkbox[name="uid[]"]:checked')
                       .map(function() { return $(this).val() })
                       .get()
                       .join(",");                      
                    var substr = checkeditems.split(',');
                    console.log(substr);
                    //alert(substr.length);  
                    var datastring = $('#form-users').serialize();
                    var i;
                    $("#loading_overlay").show();  
            		    
                    $.ajax({                        
                        url: baseUrl+"clients/index/delete",
                        type: 'POST',
                        data: datastring,
                        async: true,
                        success: function (data) {
                                    var i;
                                    for (i = 0; i < substr.length; ++i) {
                                        $("." +substr[i]).fadeOut(500, function() {
                        					$("."+substr[i]).remove();
                        				});
                                    }
                                    $("#loading_overlay").hide();
                                    //window.parent.document.location.reload();
                            },           
                        });
           
    return false; 
    }); //end 
       
});
</script>
{/literal}
