<div class="row">
    <div class="span9">
    		<div class="page-header"><h4>New Users</h4></div>
            {if isset($reply.status)}
                <div class="alert alert-{$reply.status}">{$reply.message}</div>
            {/if}
           <form class="form-horizontal frm-users" action="" method="post">
            {$this->render('form/user.html')}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
            </form>
    </div>
</div>